.grid-section {
    padding: 20px 0;
    background-color: #f8f8f8; /* This is just a sample color. Adjust as needed. */
}

.container-md {
    width: 100vw;
    height: 115vh;
    background-color: rgba(223, 224, 119, 0.29);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.73);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.73); /* This will add a black inner shadow */

}

.tech-icons {
    width: fit-content;
    background-color: #dfe077;
    vertical-align: middle;
    text-align: center;
    border-radius: 40px;
    box-shadow: 4px 5px 12px 3px rgba(0, 0, 0, 0.10) !important;
    transition: all 0.4s ease 0s;

    flex-direction: column;
    justify-content: center;

    margin: 1%;

}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    background-color: rgba(238, 44, 91, 0.8); /* Change the last value (0.8) to control opacity */


}

.card-head {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "League Spartan-SemiBold";
}

.image-container {
    width: 100%;
    margin: 10px 0;
}

.img-card {
    width: 60%;
    height: auto;
}

.cardSub {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    width: 80%;
    font-family: Montserrat-SemiBold;
}

.btn-section1 {
    margin-top: 20px;
}

.card-btn {
    background-color: #333; /* This is just a sample color. Adjust as needed. */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: 10px; /* Space between the button and the card if expanded. */
}

.card-btn-head {
    font-size: 20px;
}

.card-btn:hover {
    background-color: #555; /* This is just a sample color. Adjust as needed. */
}

/* Mobile first design. So the default behavior is columns, and they turn side-by-side for medium and up screens. */
@media (min-width: 768px) {
    .btn-section1 {
        display: none; /* Hide the buttons on larger screens. */
    }

    .tech-icons {
        margin-bottom: 0; /* Remove the margin-bottom on larger screens. */
    }
}
